<% @title = "新規登録" %>

<div class="profile-new">
  <%= form_tag profile_path, :class => 'profile-form' do%>
    <h2>登録内容を入力して下さい</h2>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= text_field_tag "profile[nickname]", '', :class => 'mdl-textfield__input' %>
      <label class="mdl-textfield__label" for="profile_nickname">ニックネーム(必須)...</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= text_area_tag "profile[profile_text]", '', :class => 'mdl-textfield__input' %>
      <label class="mdl-textfield__label" for="profile_profile_text">自己紹介文...</label>
    </div>
    <%= hidden_field_tag 'id', params[:service_id] || params[:id] %>

    <div class="button">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        <i class="material-icons">done</i>
        登録
      </button>
    </div>
  <% end %>
</div>

<% if @profile.errors.any? %>
  <% content_for :bottom do %>
    <div id="errors" class="mdl-js-snackbar mdl-snackbar">
      <div class="mdl-snackbar__text"></div>
      <button class="mdl-snackbar__action" type="button"></button>
    </div>
  <% end %>
<% end %>
