.bundle
.DS_Store
*~
db/*.sqlite3
log
log/*.log
tmp/**/*
vendor/bundle
db/groonga
misc
db/schema.rb
tmp
.rbenv-version
.ruby-version
public/test/
public/development/
config/initializers/hatena_api_auth.rb
config/log4r.yml
config/openid_connect.yml
