<%= form_for(@openid_url) do |f| %>
  <% if @openid_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@openid_url.errors.count, "error") %> prohibited this openid_url from being saved:</h2>

      <ul>
      <% @openid_url.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
