<h1>Listing openid_urls</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @openid_urls.each do |openid_url| %>
      <tr>
        <td><%= link_to 'Show', openid_url %></td>
        <td><%= link_to 'Edit', edit_openid_url_path(openid_url) %></td>
        <td><%= link_to 'Destroy', openid_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Openid url', new_openid_url_path %>
